<h1>友達一覧</h1>
<p><%= link_to "戻る" ,'/' %></p>

<% @friends.each do |friend| %>
  <li>
  <%= link_to friend.name, friend_path(friend) %>
  <%= link_to 'Edit', edit_friend_path(friend) %>
  </li>
  <p><%= friend.memo %></p>
<% end %>
